@import "variables";

@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin button-basic {
  border: 1px solid $primary-color;
  color: $white;
  background-color: transparent;
  width: 90px;
  height: 35px;
  margin: 0 2px;
  border-radius: 2rem;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

@mixin button-active-basic {
}

@mixin form-label-basic {
  color: $gray;
  margin: 5% 0;
}

@mixin form-input-basic {
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-dark;
}
